<br>
<h1 class="subtitle">{{ title }}</h1>
<hr>
<div class="columns is-multiline is-mobile has-text-centered" *ngIf="mode == 'mytrades'">
  <div class="column is-one-quarter" *ngFor="let book of appService.booksMyTrades; let i = index">
    <div class="card">
      <div class="card-image">
        <figure class="image is-3by4">
          <img src="{{ book.img }}" alt="Placeholder image">
          <button class="button up-left is-medium is-info">
              <span class="icon"><i class="fa fa-clock-o"></i></span>
            </button>
          <button class="button up-right is-medium is-danger" (click)="removeTrade(i)">
              <span class="icon"><i class="fa fa-times"></i></span>
            </button>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{ book.title }}</p>
            <p class="subtitle is-6">{{ book.author }}</p>
            <p class="subtitle is-6">Owner: {{ book.owner.twitter.username }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="columns is-multiline is-mobile has-text-centered" *ngIf="mode == 'tradesforme'">
  <div class="column is-one-quarter" *ngFor="let book of appService.booksTradesForMe; let i = index">
    <div class="card">
      <div class="card-image">
        <figure class="image is-3by4">
          <img src="{{ book.img }}" alt="Placeholder image">
          <button class="button up-left is-medium is-success" (click)="confirmTrade(i)">
              <span class="icon"><i class="fa fa-check"></i></span>
            </button>
          <button class="button up-right is-medium is-danger" (click)="removeTrade(i)">
              <span class="icon"><i class="fa fa-times"></i></span>
            </button>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{ book.title }}</p>
            <p class="subtitle is-6">{{ book.author }}</p>
            <p class="subtitle is-6">Owner: {{ book.owner.twitter.username }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
